<div>
    <a href="{{ path('professeurs_create') }}">Créer un professeur</a>
    <table>
        {% for professeur in professeurs %}
            <tr>
                <td>{{ professeur.id }}</td>
                <td>{{ professeur.nom }}</td>
                <td>{{ professeur.prenom }}</td>
                <td>{{ professeur.email }}</td>
                <td><a href="{{ path('professeurs_edit', { 'id': professeur.id }) }}">Editer</a></td>
                <td><a href="{{ path('professeurs_delete', { 'id': professeur.id }) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
</style>